html {
    /*Kolor tła strony */
    background-color: #5B7B99;
    font-family: sans-serif;
}
body {
    min-width: 600px;
  }
header, 
main, 
footer {
    /*Pole Strona główna i TU ZAWARTOŚĆ*/
    background-color: white;
}
header,
main,
footer,
nav {
    /* Marginesy */
    margin: 1rem;
}
header, 
footer {
    /*Specyficzne formatowanie dla nagłówka i stopki */
    background-color: #34495e;
    color: white;
    padding: 1rem;
}
header {
    display: flex;
    justify-content: space-between;
}
nav {
    /* Belka nawigacyjna */
    background-color: #5B7B99;
}
nav ul {
    /*Dopasowanie listy do wyświetlenia jako menu poziome*/
    display: flex;
    padding: 0;
    list-style-type: none;
}

nav ul li a {
    display: inline-block;
    color: #ffffff;
    padding: 1rem 2rem;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #1871ad;
    color: #ffffff;
}
nav ul li a.active {
    background-color: #076e9e;
    color: #ffffff;
}
main {
    padding: 2rem;
}
footer {
    text-align: center;
}
h1{
    color: rgb(255, 255, 255);
}

main h2 {
    border-bottom: 1px solid #044fbe;
    margin-bottom: 2rem;
}
.table-list {
    /*Rozciągnięcie tabeli na całą szerokość pola oraz złączenie obramowań komórek*/
    border-collapse: collapse;
    color:#2c3e50;
    width: 100%;
}
.table-list,
.table-list th,
.table-list td {
    /*Obramowanie tabeli i komórek*/
    border: 1px solid #bdc3c7;
}
.table-list th,
.table-list td {
    /*Odsunięcie zawartości komórek od obromowania*/
    padding: 0.5rem;
}
.table-list th,
.table-list tbody tr:nth-child(even) {
    /*Ustalenie koloru tła nagłówka i naprzemiennych wierszy*/
    background-color: #ecf0f1;
}
.list-actions {
    /*Dopasowanie listy do wyświetlenia jej elementów jako poziomych przycisków*/
    margin: 0;
    text-align: center;
    list-style-type: none;
    padding: 0;
}
.list-actions li {
    /*Ułożenie listy w poziomie*/
    display: inline-block;
}
.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete {
    /*Właściwości wspólne dla przycisków*/
    display: inline-block;
    width: 100px;
    padding: 0.5rem 0.5rem;
}
.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete {
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
}
.list-actions-button-details,
.list-actions-button-edit {
    /*Ustawiamy odstępy między przyciskami*/
    margin-right: 1rem;
}
.list-actions-button-details {
    background-color: #2980b9;    
}
.list-actions-button-details:hover {
    background-color: #3498db;
}
.list-actions-button-edit {
    background-color: #f39c12;
}
.list-actions-button-edit:hover {
    background-color: #f1c40f;
}
.list-actions-button-delete {
    background-color: #c0392b;
}
.list-actions-button-delete:hover {
    background-color: #e74c3c;
}
.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete,
.button-add {
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
}
.button-add {
    padding: 0.5rem 1rem;
}
.button-add {
    background-color: #27ae60;
}
.button-add:hover {
    background-color: #2ecc71;
}
button, 
input, 
select, 
textarea { 
    font-family: inherit; 
    font-size: 100%; 
    box-sizing: border-box; 
    padding: 0; margin: 0; 
} 
textarea { 
    overflow: auto; 
}

.form {
    display: grid;
    grid-template-columns: 150px 300px;
    grid-row-gap: 1rem;
    
}
.form-buttons {
    border: none;
    border-radius: 5px;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: -1;
    color: #ffffff;
    background-color: #f39c12;
    text-align: center;
}
.form-buttonsBlue {
    border: none;
    border-radius: 5px;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: -1;
    color: #ffffff;
    background-color: #1d3df0;
    text-align: center;
}
.form-buttonsGreen {
    border: none;
    border-radius: 5px;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: -1;
    color: #ffffff;
    background-color: #27ae60;
    text-align: center;
}
.form select, 
.form input[type="text"],
.form input[type="number"],
.form input[type="date"],
.form input[type="email"] {
    border: 1px solid #7f8c8d;
    color:#2c3e50;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
}
.form label {
    display: block;
    margin-bottom: 0.5em;
}
.form-group {
    margin-bottom: 1rem;
}
abbr[title='required'] {
    color: #c0392b;
}
.form-buttons{
    margin-top: 2rem;
}
.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete,
.list-actions-button-return,
.button-add,
.form-button-submit,
.form-button-cancel,
.form-button-return {
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
    display: inline-block;
}
.button-add,
.form-button-submit,
.form-button-cancel,
.form-button-return,
.form-button-return-prawa {
    display: grid;
    grid-template-columns: 150px 300px;
    grid-row: 1rem;
}
.button-add,
.form-button-submit{
    background-color: #27ae60;
    display: inline-block;
}
.form-button-return,
.form-button-return-prawa{
    background-color: #3498db;
}
.form-button-return{
    float: right;
}
.form-button-return-prawa{
    float: left;
}
.button-add:hover,
.form-button-submit:hover{
    background-color: #2ecc71;
    display: inline-block;
}
.form-button-cancel,
.list-actions-button-delete {
    background-color: #c0392b;
}
.form-button-cancel:hover,
.list-actions-button-delete:hover {
    background-color: #e74c3c;
}
.form-button-submit,
.form-button-cancel {
    width: 100%;
}
.form-button-cancel {
    box-sizing: border-box;
    display: block;
}
.form-button-submit {
    margin-bottom: 0.5rem;
}